/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #ffffff;
  }
  
 /* Header Section */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #333;
}

/* Header Title */
.header h1 {
  color: #ccc;
}

/* Navigation Menu within Header */
.nav {
  display: flex;
  margin-right: 244px;
  gap: 10px;
}

.nav button {
  padding: 10px 15px;
  background-color: #555;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.nav button:hover {
  background-color: #777;
}

/* Login Button in Header */
.login-btn {
  background-color: #444;
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.login-btn img {
  width: 25px;
  height: 25px;
  margin-right: 5px;
}

.section {
  padding: 40px 20px;
  text-align: center;
}

.section h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}

.card-grid {
    margin-top: 6%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    justify-items: center;
}

.card {
    background-color: #444;
    width: 28vw;
    height: 14vw;
    display: flex;
    border-radius: 10px;
    padding: 10px;
}

.card:hover {
    background-color: #777;
}

.card img {
    width: 90%;
    height: auto;
    object-fit: contain;
    margin: auto;
}

  /* Styles for the login form */
  .form-container {
    display: none; /* Hide form by default */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5); /* Transparent background */
  }
  
  .form-content {
    color: #000000;
    background-color: #fff;
    margin: 15% auto; /* Center the form content */
    padding: 20px;
    border: 1px solid #888;
    width: 30%; /* Form width */
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  }
  
  .close {
    color: #000000;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* Add padding for form fields */
  form {
    display: flex;
    flex-direction: column; /* Arrange elements in a column */
  }
  
  label {
    color: #000000;
    margin-bottom: 5px; /* Space between the label and the input field */
  }
  
  input {
    padding: 10px; /* Padding for input fields */
    margin-bottom: 10px; /* Margin between fields */
    border: 1px solid #ccc; /* Border of the input fields */
    border-radius: 4px; /* Rounded corners */
  }
  
  button[type="submit"] {
    background-color: #363836; /* Background color of the button */
    color: white; /* Text color */
    border: none;
    padding: 10px;
    border-radius: 50px; /* Rounded corners */
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #45a049; /* Background color on hover */
  }

  .header-buttons {
    display: flex;
    align-items: center;
}

.lang-switch-btn {
    margin-right: 10px;
    padding: 10px 15px;
    background-color: #444;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.lang-switch-btn:hover {
    background-color: #555;
}